*.mdf
/YLSMovies/MovieTheater/App_Data/aspnet-MovieTheater-20140923172343.mdf
/YLSMovies/MovieTheater/App_Data/aspnet-MovieTheater-20140923172343_log.ldf
/YLSMovies/MovieTheater/App_Data/MovieTheater.mdf
/YLSMovies/MovieTheater/App_Data/MovieTheater_log.ldf
