<div id="movies-my-movies" class="tab-pane">
    <h2>My Movies</h2>
    <div id="my-movies" class="row">
    </div>
</div>
<div id="movies-top-rated" class="tab-pane">
    <h2>Top rated movies graph:</h2>
    <div id="top-rated-graph">
    </div>

    <h2>Top Rated Movies</h2>
    <table id="top-rated">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Director</th>
                <th>Stars</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
