@if (Request.IsAuthenticated) {
    <li>
        <p class="navbar-text">Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </p>
    </li>
} else {
        <li><a href="#register" role="tab" data-toggle="tab">Register</a></li>
        <li><a href="#log-in" role="tab" data-toggle="tab">Log In</a></li>
}
