@if (Request.IsAuthenticated) {
    <li>
        <p class="navbar-text">Hello, @User.Identity.Name!
            @Html.AntiForgeryToken()
            <a onclick="logoff()">Log Off</a>
        </p>
    </li>
} else {
        <li><a href="#register" role="tab" data-toggle="tab">Register</a></li>
        <li><a href="#log-in" role="tab" data-toggle="tab">Log In</a></li>
}

<script>
    function logoff() {
        $.ajax({
            url: "Account/LogOff",
            type: "POST",
            data : {'__RequestVerificationToken': $("input[name='__RequestVerificationToken']").val() },
            success: function (data) {
                location.reload();
            }
        });
    }
</script>
