@{
    ViewBag.Title = "Admin";
}
<h2>Administration Panel - Delete Movie From System</h2>

<p id="messageMovie"></p><br>

<section>
    <table id="admin-Panel-movies">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Director</th>
                <th>Stars</th>
                <th>Votes</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
    </table>
</section>
<hr />