@{
    ViewBag.Title = "Admin";
}
<!-- shirit 101014 -->
<h2>Administration Panel - Delete Searech </h2>

<p id="messageSearch"></p><br>

<section>
    <table id="admin-Panel-searches">
        <thead>
            <tr>
                <th>Date</th>
                <th>Search String</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
    </table>
</section>
<hr />