@{
    ViewBag.Title = "YLSCMovies";
}

<div class="page-header">
    <h2 class="h2">Welcome To YLSCMovies</h2>
</div>

<aside class="sidebar">
    <div class="panel panel-default">
        <div class="panel-heading">Coming Soon</div>
        <div class="panel-body">
            <div class="row">
                <div>
                    <div class="thumbnail">
                        <img src="images/TheHungerGamesMockingJayPartI.jpg" alt="..." class="thumbnail">
                        <div class="caption">
                            <p>Katniss Everdeen is in District 13 after she shatters the games forever. Under the leadership of President Coin and the advice of her trusted friends, Katniss spreads her wings as she fights to save Peeta and a nation moved by her courage.</p>
                            <p>
                                <a href="http://www.youtube.com/watch?v=C_Tsj_wTJkQ" class="btn btn-primary" role="button">Trailer</a> 
                                <a href="http://www.imdb.com/title/tt1951265/?ref_=cs_ov_tt" class="btn btn-default" role="button">Imdb</a>
                                <a href="http://www.imdb.com/title/tt1951265/fullcredits?ref_=tt_cl_sm#cast" class="btn btn-default" role="button">Cast</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="thumbnail">
                            <img src="images/ExodusGodsAndKings.jpg" alt="..." class="thumbnail">
                            <div class="caption">
                                <p>Epic adventure Exodus: Gods and Kings is the story of one man's daring courage to take on the might of an empire. Using state of the art visual effects and 3D immersion, Scott brings new life to the story of the defiant leader Moses as he rises up against the Egyptian Pharaoh Ramses, setting 600,000 slaves on a monumental journey of escape from Egypt and its terrifying cycle of deadly plagues.</p>
                                <p>
                                    <a href="https://www.youtube.com/watch?v=N4iSzHXOUEE" class="btn btn-primary" role="button">Trailer</a>
                                    <a href="http://www.imdb.com/title/tt1528100/?ref_=nv_sr_1" class="btn btn-default" role="button">Imdb</a>
                                    <a href="http://www.imdb.com/title/tt1528100/fullcredits?ref_=tt_cl_sm#cast" class="btn btn-default" role="button">Cast</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="thumbnail">
                            <img src="images/TheHobbitTheBattleOfTheFiveArmies.jpg" alt="..." class="thumbnail">
                            <div class="caption">
                                <p>bilbo and company are forced to be embraced in a war against an armed flock of combatants and the terrifying smaug from acquiring a kingdom of treasure and incinerating all of middle-earth.
                                    </p>
                                    <p>
                                        <a href="https://www.youtube.com/watch?v=N4iSzHXOUEE" class="btn btn-primary" role="button">Trailer</a>
                                        <a href="http://www.imdb.com/title/tt2310332/?ref_=fn_al_tt_1" class="btn btn-default" role="button">Imdb</a>
                                        <a href="http://www.imdb.com/title/tt2310332/fullcredits?ref_=tt_cl_sm#cast" class="btn btn-default" role="button">Cast</a>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>



    <canvas id="logoCanvas" width="578" height="200"
            onmousemove="handleMouseMove(event)"
            onmouseout="handleMouseOut()"></canvas>

<div class="panel panel-default articles">
    <div class="panel-heading">
        <h1 class="panel-title">What's New?</h1>
    </div>
    <div class="panel-body">
        <div class="page-header">
            <h3>YLSCMovies Huge IMAX</h3>
            <p class="author">Posted on <time datetime="2014-09-29T23:31+01:00">September 29th 2014</time> by <a href="http://en.wikipedia.org/wiki/Peter_Pan">Peter Pan</a>
        </div>
        <article>
            <p>
                IMAX (an acronym for Image MAXimum) is a motion picture film format and a set of cinema projection standards created by the Canadian company IMAX Corporation and developed by Graeme Ferguson, Roman Kroitor, Robert Kerr, and William C. Shaw.[1] IMAX has the capacity to record and display images of far greater size and resolution than conventional film systems. Since 2002, some feature films have been converted (or upgraded) into IMAX format for display in IMAX theatres and some have also been partially shot in IMAX.
                IMAX is the most widely used system for special-venue film presentations. As of 31 December 2013, there are 837 IMAX theatres in 57 countries.
                To create the illusion of depth, the IMAX 3D process uses two separate camera lenses that represent the left and right eyes. The lenses are separated by a distance of 64 mm (2.5 in), the average distance between a human's eyes. Two separate rolls of film are used to capture the images they produce. The IMAX 3D camera weighs over 113 kg (249 lb).
                By projecting the two films superimposed on the screen and using one of several available methods to direct only the correct image to each eye, viewers see a 3D image on a 2D screen.
                One method is to use polarizing filters to oppositely polarize the light used in projecting each image. The viewer wears glasses with polarizing filters oriented to match the projector filters, so that the filter over each eye blocks the light used to project the images intended for the other eye.
                In another method, the two projections rapidly alternate. While one image is being shown, the projection of its mate is blocked. Each frame is shown more than once to increase the rate and suppress flicker. The viewer wears shutter glasses with liquid crystal shutters that block or transmit light in sync with the projectors, so each eye sees only the images meant for it.
                Several of the early films that had been produced in digital 3D for release in conventional theaters were also presented in IMAX 3D, including Avatar, Gravity and The Amazing Spider-Man.
            </p>
            <br />
            <p>
                Watch YLSCMovies IMAX at the worlds largest  imax cinemas:
            </p>
            <video width="350" height="196" controls class="article-video" >
                <source src="images/WorldsLargestIMAXCinemas.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </article>
    </div>
</div>

<div class="panel panel-default articles">
    <div class="panel-heading">
        <h1 class="panel-title">Born Today</h1>
    </div>
    <div class="panel-body">
        <div class="page-header">
            <h3>Actors</h3>
        </div>
            <div class="birthday">
                <a href="#" class="thumbnail">
                    <img src="images/LiamNeeson.jpg" alt="...">
                </a>
                <h4 class="center">Liam Neeson</h4>
            </div>
        <div class="birthday">
            <a href="#" class="thumbnail">
                <img src="images/oliviawilde.jpg" alt="...">
            </a>
            <h4 class="center">Olivia Wilde</h4>
        </div>
        <div class="birthday">
            <a href="#" class="thumbnail">
                <img src="images/scarlettjoanson.jpg" alt="...">
            </a>
            <h4 class="center">Scarlett johansson</h4>
        </div>
        <div class="birthday">
            <a href="#" class="thumbnail">
                <img src="images/willsmith.jpg" alt="...">
            </a>
            <h4 class="center">Will Smith</h4>
        </div>
       
        <div class="page-header">
            <h3>Directors</h3>
        </div>
        <div class="birthday">
            <a href="#" class="thumbnail">
                <img src="images/StevenSpielberg.jpg" alt="...">
            </a>
            <h4 class="center">Steven Spielberg</h4>
        </div>

        <div class="page-header">
            <h3>Founders</h3>
        </div>

        <div class="birthday">
            <a href="#" class="thumbnail">
                <img src="images/Yotam.jpg" alt="...">
            </a>
            <h4 class="center">Yotam Roth</h4>
        </div>

        <div class="birthday">
            <a href="#" class="thumbnail">
                <img src="images/Shirit.jpg" alt="...">
            </a>
            <h4 class="center">Shirit Waksman</h4>
        </div>

        <div class="birthday">
            <a href="#" class="thumbnail">
                <img src="images/Lior.jpg" alt="...">
            </a>
            <h4 class="center">Lior Bentov</h4>
        </div>

        <div class="birthday">
            <a href="#" class="thumbnail">
                <img src="images/Carcom.jpg" alt="...">
            </a>
            <h4 class="center">Carcom Zyssman</h4>
        </div>
    </div>
</div>

<footer class="bs-footer" role="contentinfo">
    <div>
        <p>Designed and built by the YLSC team AKA Yotam Roth, Lior Bentov, Carcom Zyssman & Shirit Waksman.</p>
        <p>Maintained by anyone who would like to contribute :) </p>
        <ul class="bs-footer-links muted">
            <li>Currently v1.0.7</li>
            <li>·</li>
            <li><a href="https://github.com/yotamgever/YLSMovies">GitHub</a></li>
            <li>·</li>
            <li><a href="http://www.imdb.com/">Imdb</a></li>
            <li>·</li>
            <li><a href="../2.3.2/">docs</a></li>
            <li>·</li>
            <li><a href="../about/">About</a></li>
            <li>·</li>
            <li><a href="http://blog.getbootstrap.com">Blog</a></li>
            <li>·</li>
            <li><a href="https://github.com/yotamgever/YLSMovies/issues">Issues</a></li>
            <li>·</li>
            <li><a href="https://github.com/yotamgever/YLSMovies/releases">Releases</a></li>
        </ul>
    </div>
</footer>