@model MovieTheater.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
<form action="Account/Login" method="post">
    <div id="log-in" class="tab-pane">
        <section id="loginForm">
            <h2>Use a local account to log in.</h2>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @ViewBag.errorMessage

            <table style="width:40%">
                <tr>
                    <td>User Name:</td>
                    <td><input type="text" name="UserName"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="Password"><br></td>
                </tr>
                <tr>
                    <td>Remember me:</td>
                    <td>
                        <input type="checkbox" name="RememberMe" id="RememberMe" value="true"><br>
                        <input type="hidden" value="false" name="RememberMe">
                    </td>
                </tr>
            </table>

            <input type="submit" value="Log in" />
            <p>
                <li><a href="#register" role="tab" data-toggle="tab">Register</a></li> if you don't have an account.
            </p>
        </section>

    </div>
</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
