<div id="register" class="tab-pane">
    <h2>Register</h2>
    <form class="form-horizontal" role="form" onsubmit="return false;">
        <div class="form-group">
            <label for="register-firstname" class="col-sm-2 control-label">Firstname</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="register-firstname" placeholder="Firstname">
            </div>
        </div>
        <div class="form-group">
            <label for="register-lastname" class="col-sm-2 control-label">Lastname</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="register-lastname" placeholder="Lastname">
            </div>
        </div>
        <div class="form-group">
            <label for="register-birthdate" class="col-sm-2 control-label">BirthDate</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" id="register-birthdate">
            </div>
        </div>
        <div class="form-group">
            <label for="filter-country" class="col-sm-2 control-label">Country</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="filter-country" placeholder="Country">
            </div>
        </div>
        <div class="form-group">
            <label for="register-username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="register-username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="register-password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-2">
                <input type="password" class="form-control" id="register-password">
            </div>
        </div>
        <div class="form-group">
            <label for="register-confirm-password" class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-2">
                <input type="password" class="form-control" id="register-confirm-password">
            </div>
        </div>    
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" onclick="register()">Register</button>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function register() {
        debugger;
        $.ajax({
            url: "Account/Register",
            type: "POST",
            data: {
                strFirstName: $("#register-firstname").val(),
                strLastName: $("#register-lastname").val(),
                strBirthDate: $("#register-birthdate").val(),
                strCountry: $("#register-country").val(),
                strUserName: $("#register-username").val(),
                strPassword: $("#register-password").val()
            },
            success: function (data) {
                console.log("success");
            }
        });
    }
</script>