<div id="register" class="tab-pane">
    <h2>Register</h2>
    <form class="form-horizontal" role="form" onsubmit="return false;" autocomplete="off">
        <div class="form-group">
            <label for="register-firstname" class="col-sm-2 control-label">Firstname</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="register-firstname" placeholder="Firstname" 
                    required pattern="[A-Za-z]+" aria-describedby="name-format">
                <span id="name-format" class="help">Only English letters</span>
            </div>
        </div>
        <div class="form-group">
            <label for="register-lastname" class="col-sm-2 control-label">Lastname</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="register-lastname" placeholder="Lastname" 
                    required pattern="[A-Za-z]+" aria-describedby="name-format">
                <span id="name-format" class="help">Only English letters</span>
            </div>
        </div>
        <div class="form-group">
            <label for="register-birthdate" class="col-sm-2 control-label">Birthdate</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" id="register-birthdate">
            </div>
        </div>
        <div class="form-group">
            <label for="filter-country" class="col-sm-2 control-label">Country</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="register-country" placeholder="Country">
            </div>
        </div>
        <div class="form-group">
            <label for="register-username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="register-username" placeholder="Username" required pattern="\w+">
            </div>
        </div>
        <div class="form-group">
            <label for="register-password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-2">
                <input type="password" class="form-control" id="register-password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange="$('#register-confirm-password').attr('pattern',this.value);">
            </div>
        </div>
        <div class="form-group">
            <label for="register-confirm-password" class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-2">
                <input type="password" class="form-control" id="register-confirm-password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
            </div>
        </div>    
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" onclick="register()">Register</button>
            </div>
        </div>
    </form>
</div>