html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}

@font-face {
    font-family: headerFont;
    src: url(FIGHTT.ttf);
}

/* Override Bootstrap*/
a {
    cursor: pointer;
}

.row {
    margin: 0 !important;
}

h2 {
    font-family: headerFont;
    font-size: 50px;
    -webkit-text-shadow: 1px 1px 1px #CCC;
    text-shadow: 2px 2px 3px #CCC;
}

.navbar {
    margin-bottom: 0px;
}

.page-header {
    margin-top: 10px;
}

.bs-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.bs-footer-links {
    padding-left: 0;
    margin-top: 20px;
    color: #999;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.bs-footer-links li:first-child {
    padding-left: 0;
}

.bs-footer-links li {
    display: inline;
    padding: 0 2px;
}

/* Home Page */

article {
     -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

     -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

.author {
     font-style: italic;
     color: gray;
}

aside.sidebar {
    float:right;
    width: 25%;
}

.articles {
   width: 74%;
}

.h2 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.birthday {
    width: 24%;
    display: inline-block;
}

.center {
    text-align: center;
}

.panel-body::before, .panel-body::after {
    display: none;
}

.article-video {
    overflow: overlay; 
    position: relative; 
    z-index:100000000;
    width: 350px;
    height: auto;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.video-title {
    text-align:center;
}

.video-container {
    width: 50%;
}

/* Movies */
.savedMovie {
    width: 15.666667%;
    min-height: 60px;
    border: 1px solid black;
    margin-right: 1%;
    margin-bottom: 1%;
    background: rgb(250,250,250);
    font-size: 121%;
    font-family: calibri;
    border-radius: 10px;
    padding-left: 1%;
    cursor: pointer;    
    -webkit-transition: background 1s; 
    transition: background 1s;
    box-sizing: content-box;
}

.savedMovie:hover {
    background: lightgreen;
}

.savedMovie > button {
    position: absolute;
    top: 0;
    right: 5%;
}
#search-movie-input {
    width:auto; 
    float:left; 
    margin-right:5px;
}

#movie-search-results, #movie-focused {
    padding-top: 2%; 
    padding-left: 2%;
}

.details, .poster-image {
    width: 100%;
}

.small-details {
    width: 80%;
}

.poster {
    width: 20%;
}

.plot {
    display: inline-block;
    padding-top: 2%;
}

#movie-search-results tbody tr:hover {
    cursor: pointer;
}

/**/
/* Wrappers */
.rating-wrap{
	width:150px;
	height:25px;
	position:relative;
}


.radio-wrap{
	width:100%;
	height:100%;
}

/* Radio Buttons */
input[type=radio] {
	display:inline-block;
	position:relative;
	z-index:2;
	margin:0;
	width:17.4%;
	height:100%;
	opacity:0;
}

/* Filled Rating */
.rating-fill{
	width:0;
	height:100%;
	background:url(../images/star.png) #efaf16;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}


/* Checked Inputs */

input[value="5"]:checked + .rating-fill{
	width:100%;
}

input[value="4"]:checked + .rating-fill{
	width:80%;
}

input[value="3"]:checked + .rating-fill{
	width:60%;
}

input[value="2"]:checked + .rating-fill{
	width:40%;
}

input[value="1"]:checked + .rating-fill{
	width:20%;
}


/* Blank Stars */

.rating-blank{
	width:100%;
	height:100%;
	background:url(../images/star.png) #ccc;
	position:absolute;
	top:0;
	left:0;	
	z-index:0;
}

/* Optional Hover Effect */

input[value="5"]:hover + .rating-fill{
	width:100%;
}

input[value="4"]:hover + .rating-fill{
	width:80%;
}

input[value="3"]:hover + .rating-fill{
	width:60%;
}

input[value="2"]:hover + .rating-fill{
	width:40%;
}

input[value="1"]:hover + .rating-fill{
	width:20%;
}
/*Rating end*/

#theaters-map {
    width: 1087px;
    height: 380px;
}